# The industrial Abaqus deck is a coauthor's model and is not redistributed with this bundle
# (see README.md). Everything else in the repository regenerates the paper's numbers.
*.inp
!.gitignore
!README.md
